<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!-- <RegexFilter regex=".* [main] .*" onMatch="ACCEPT" onMismatch="DENY"/> -->  
      <PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}" />
    </Console>
    <File name="MyFile" fileName="logs.nosync/myapp-${date:yyyy-MM-ddHHmm}.log">
      <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
      <PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}" />
    </File>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="MyFile"/>
    </Root>
  </Loggers>
</Configuration>